<%= form_with(model: psuser) do |form| %>
  <% if psuser.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(psuser.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% psuser.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

 <div class="field">
    <%= form.label :email %><br />
    <%= form.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>


  <div class="field">
    <%= form.label :name, "Nombre" %><br />
    <%= form.text_field :name, autocomplete: "Nombre" %>
  </div>

<div class="field">
    <%= form.label :lastname, "Apellido" %><br />
    <%= form.text_field :lastname, autocomplete: "Apellido" %>
  </div>

<div class="field">
    <%= form.label :age, "Edad" %><br />
    <%= form.text_field :age, autocomplete: "Edad" %>
  </div>

<div class="field">
    <%= form.label :position, "Cargo" %><br />
    <%= form.text_field :position, autocomplete: "Cargo" %>
  </div>

<div class="field">
    <%= form.label :resume, "Resumen Laboral/Curriculum" %><br />
    <%= form.text_field :resume, autocomplete: "Resumen Laboral/Curriculum" %>
  </div>


  <div>
    <%= form.submit "Crear Usuario", class:"mt-1" %>
  </div>
<% end %>

