<div id="<%= dom_id psuser %>">

<div class="card w-75 mb-4">
  <div class="card-body">
 <% if psuser.avatar.persisted? %>
 <strong>Imagen Perfil:</strong>
 <p><%= image_tag psuser.avatar, class: "rounded-circle avatarr" %> </p>
 <% end %>

<strong>Nombre:</strong>
<%= psuser.name %>
<br>
<strong>Apellido:</strong>
<%= psuser.lastname %>
<br>
<strong>Edad:</strong>
<%= psuser.age %>
<br>
<strong>Cargo:</strong>
<%= psuser.position %>
<br>
<strong>Resumen Laboral/Curriculum:</strong>
<%= psuser.resume %>
  </div>
</div>




 
</div>

