<div id="<%= dom_id psuser %>">

<strong>Imagen Perfil:</strong>
<%= psuser.avatar %>
<br>
<strong>Nombre:</strong>
<%= psuser.name %>
<br>
<strong>Apellido:</strong>
<%= psuser.lastname %>
<br>
<strong>Edad:</strong>
<%= psuser.age %>
<br>
<strong>Cargo:</strong>
<%= psuser.position %>
<br>
<strong>Resumen Laboral/Curriculum:</strong>
<%= psuser.resume %>

 
</div>

