<div id="<%= dom_id pspost %>">




<div class="card" style="width: 18rem;">
  <% pspost.psimages.each do |psimage| %>
      <%= image_tag psimage%>
  <% end %>
  <div class="card-body">
    <h5 class="card-title"> <%= pspost.title %></h5>
    <p class="card-text"><%= pspost.description %></p>
    <%= render 'applies/applies' %>
  </div>
  </div>


</div>