<p style="color: green"><%= notice %></p>

<%= render @pspost %>
<% if Psuser.first != current_psuser %>
 <%= render 'applies/applies' %>
 <% end %>
<div>
  <%= link_to "Editar esta publicación", edit_pspost_path(@pspost), class:"btn btn-dark mt-3" %> |
  <%= link_to "Volver a publicaciones", psposts_path, class:"btn btn-dark mt-3" %>

  <%= button_to "Eliminar esta publicación", @pspost, method: :delete, class:"btn btn-danger mt-4" %>
</div>
